<section class='block block--dark block--skewed-left hero'>
    <div class='container grid grid--1x2'>
        <header class='block__header hero__content'>
            <h1 class='block__heading' data-aos='zoom-in-up'>Blog Hosting for
                Pros</h1>
            <p class='hero__tagline'>
                Good blogging platform for getting started quickly :)
            </p>
            <a href='/login' class='btn btn--accent btn--stretched'>Get Started</a>
        </header>

        <picture data-aos='zoom-out'>
            <source
                type='image/webp'
                srcset='images/banner.webp 1x, images/banner@2x.webp 2x'
            />
            <source
                type='image/png'
                srcset='images/banner.png 1x, images/banner@2x.png 2x'
            />
            <img class='hero__image' src='images/banner.png' alt='' /></picture>
    </div>
</section>

<form action='/searchAndSortArticles' method='POST'>
    <section class='block container block-domain'>
        <header class='block__header' data-aos='slide-up'>
            <h2 id='target'>Browse All Articles</h2>
            <p>
                Search and sort all article lists by article title, username,
                and date.
            </p>
        </header>

        <div class='input-group'>
            <input
                name='searchTerm'
                type='text'
                class='input'
                id='search-input'
                placeholder='Search article lists'
                autocomplete='off'
            />
            <button type='submit' class='btn btn--accent'>
                <img class='icon icon--white' src='/images/search.svg' alt='' />
                Search
            </button>

            <select class='input' id='sort-by' name='userSelection'>
                <option value='title'>Sort by Title</option>
                <option value='username'>Sort by UserName</option>
                <option value='publishTime'>Sort by Date</option>
            </select>
        </div>

    </section>
</form>

{{#if user}}
    {{#each allArticles}}
        {{#if this.imageURL}}
            <article class='grid grid--1x2 feature articleGrid'>
                <div class='feature__content' data-aos='fade-right'>
                    <div class='userArticleInfo'>
                        <span class='icon-container'>
                            <img
                                class='icon'
                                src='/images/{{this.avatarid}}.png'
                                alt=''
                            />
                        </span>

                        <span class='publishTimeSpan'>
                            {{this.publishTime}}
                        </span>

                        <a
                            href='/author/{{this.username}}'
                            class='link-arrow'
                        ><span id='userArticleInfo__username'>
                                {{this.username}}
                            </span></a>

                    </div>

                    <h3 class='feature__heading'>{{this.title}}</h3>
                    <p id='homePageParagraph'>
                        {{{this.content}}}
                    </p>

                    <a href='/articles/{{this.id}}' class='link-arrow'>Read More</a>

                </div>

                <picture class='pic' data-aos='zoom-in-left'>
                    <img class='feature__image' src={{this.imageURL}} alt='' />
                </picture>
            </article>
        {{else}}
            <article class='grid grid--1x1 feature articleGrid'>
                <div class='feature__content' data-aos='fade-right'>
                    <div class='userArticleInfo'>
                        <span class='icon-container'>
                            <img
                                class='icon'
                                src='/images/{{this.avatarid}}.png'
                                alt=''
                            />
                        </span>

                        <span class='publishTimeSpan'>
                            {{this.publishTime}}
                        </span>

                        <a
                            href='/author/{{this.username}}'
                            class='link-arrow'
                        ><span id='userArticleInfo__username'>
                                {{this.username}}
                            </span></a>

                    </div>

                    <h3 class='feature__heading'>{{this.title}}</h3>
                    <p>
                        {{{this.content}}}
                    </p>
                    <a href='/articles/{{this.id}}' class='link-arrow'>Read More</a>
                    {{!-- {{else}}
                    <a href='/login' class='link-arrow'>Read More</a>
                {{/if}} --}}
                </div>
            </article>

        {{/if}}
    {{/each}}
{{else}}
    {{#each allArticles}}
        {{#if this.imageURL}}
            <article class='grid grid--1x2 feature articleGrid'>
                <div class='feature__content' data-aos='fade-right'>
                    <div class='userArticleInfo'>
                        <span class='icon-container'>
                            <img
                                class='icon'
                                src='/images/{{this.avatarid}}.png'
                                alt=''
                            />
                        </span>

                        <span class='publishTimeSpan'>
                            {{this.publishTime}}
                        </span>

                        <a href='/login' class='link-arrow'><span
                                id='userArticleInfo__username'
                            >
                                {{this.username}}
                            </span></a>

                    </div>

                    <h3 class='feature__heading'>{{this.title}}</h3>
                    <p id='homePageParagraph'>
                        {{{this.content}}}
                    </p>

                    <a href='/login' class='link-arrow'>Read More</a>

                </div>

                <picture class='pic' data-aos='zoom-in-left'>
                    <img class='feature__image' src={{this.imageURL}} alt='' />
                </picture>
            </article>
        {{else}}
            <article class='grid grid--1x1 feature articleGrid'>
                <div class='feature__content' data-aos='fade-right'>
                    <div class='userArticleInfo'>
                        <span class='icon-container'>
                            <img
                                class='icon'
                                src='/images/{{this.avatarid}}.png'
                                alt=''
                            />
                        </span>

                        <span class='publishTimeSpan'>
                            {{this.publishTime}}
                        </span>

                        <a href='/login' class='link-arrow'><span
                                id='userArticleInfo__username'
                            >
                                {{this.username}}
                            </span></a>

                    </div>

                    <h3 class='feature__heading'>{{this.title}}</h3>
                    <p>
                        {{{this.content}}}
                    </p>
                    <a href='login' class='link-arrow'>Read More</a>
                    {{!-- {{else}}
                    <a href='/login' class='link-arrow'>Read More</a>
                {{/if}} --}}
                </div>
            </article>

        {{/if}}
    {{/each}}

{{/if}}

<footer class='block block--dark footer'>
    <div class='container grid footer__sections'>
        <section class='collapsible collapsible--expanded footer__section'>
            <header class='collapsible__header'>
                <h2 class='collapsible__heading footer__heading'>Developers</h2>

                <img
                    class='icon icon--white collapsible__chevron'
                    src='/images/chevron.svg'
                    alt=''
                />
            </header>

            <div class='collapsible__content'>
                <ul class='list'>
                    <li><a href='#'>Sherry</a></li>
                    <li><a href='#'>Wendy</a></li>
                    <li><a href='#'>Packy</a></li>
                    <li><a href='#'>Jason</a></li>
                    <li><a href='#'>Ian</a></li>
                </ul>
            </div>
        </section>
        <section class='collapsible footer__section'>
            <header class='collapsible__header'>
                <h2 class='collapsible__heading footer__heading'>Pricing</h2>

                <img
                    class='icon icon--white collapsible__chevron'
                    src='/images/chevron.svg'
                    alt=''
                />
            </header>

            <div class='collapsible__content'>
                <ul class='list'>
                    <li><a href='#'>Free</a></li>
                    <li><a href='#'>Starter</a></li>
                    <li><a href='#'>Professional</a></li>
                    <li><a href='#'>Team</a></li>
                </ul>
            </div>
        </section>
        <section class='collapsible footer__section'>
            <header class='collapsible__header'>
                <h2 class='collapsible__heading footer__heading'>Support</h2>

                <img
                    class='icon icon--white collapsible__chevron'
                    src='/images/chevron.svg'
                    alt=''
                />
            </header>

            <div class='collapsible__content'>
                <ul class='list'>
                    <li><a href='#'>Contact</a></li>
                    <li><a href='#'>Knowledge Base</a></li>
                    <li><a href='#'>FAQ</a></li>
                </ul>
            </div>
        </section>

        <section class='collapsible footer__section'>
            <header class='collapsible__header'>
                <h2 class='collapsible__heading footer__heading'>Domains</h2>

                <img
                    class='icon icon--white collapsible__chevron'
                    src='/images/chevron.svg'
                    alt=''
                />
            </header>

            <div class='collapsible__content'>
                <ul class='list'>
                    <li><a href='#'>Domain Checker</a></li>
                    <li><a href='#'>Domain Transfer</a></li>
                    <li><a href='#'>Free Domain</a></li>
                </ul>
            </div>
        </section>

        <section class='footer__brand'>
            <img src='/images/computer-white.svg' alt='' />
            <p class='footer__copyright'>Copyright UoA MIT 2023 S2 Group#1</p>
        </section>
    </div>
</footer>

<script>

    window.addEventListener('load', function () { var targetElement =
    document.getElementById('target'); if (targetElement) {
    targetElement.scrollIntoView(); } });
</script>